<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Rent-it </title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/stylesheets/landing.css">
		
	</head>
	
	
	
	<body>
		<div class="container">
			<div class="left">
				<div class="heading">
					<h3>Rent-it</h3>
					<p>Find/List things to rent, all at one place!</p>
					<a class="arrowFromLeft" href="/items">
						<svg xmlns="http://www.w3.org/2000/svg" width="10.002" height="30.576" viewBox="0 0 5.002 8.576"><path d="M1.06,8.428a.5.5,0,0,1-.71,0l-.2-.2A.49.49,0,0,1,0,7.868V.708A.49.49,0,0,1,.15.348l.2-.2a.5.5,0,0,1,.71,0l3.79,3.79a.48.48,0,0,1,0,.7Z"></path>
						</svg>
						<span>Get Started</span>
					</a>
				</div>
				
			</div>

			<div class="right">
				<div class="top-right-gradient"></div>
				<img class="img1" src="../images/clip-welcome.png" alt="">							
			</div>

		</div>

		<div class="bottom-left-gradient">
			<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
				<path fill="#EC4357" d="M60,-44.7C69.5,-35.9,63.4,-11.4,56.4,10.3C49.4,32,41.5,50.9,27.8,57.5C14,64,-5.6,58.2,-21,48.8C-36.4,39.4,-47.6,26.4,-47.9,14.1C-48.2,1.8,-37.6,-9.9,-27.8,-18.8C-18,-27.6,-9,-33.8,8.1,-40.2C25.2,-46.7,50.5,-53.5,60,-44.7Z" transform="translate(100 100)" />
			  </svg>
		</div>
		
		
		
		
	</body>
	
	
</html>




