<%- include("../partials/header.ejs") %>

<div class="container mt-5">
	<h2 class="text-center mb-4"> Log In </h2>

   <div class="row justify-content-center">
		<div class="col-md-5">
			<form action="/login" method="POST" class="text-left">
				<input class="form-control form-group" type="text" name= username placeholder="username">
				<input class="form-control form-group" type="password" name="password" placeholder="password">
				<a href="#">Forgot Password?</a>
				<button class="btn btn-large btn-primary btn-block form-group mt-3"> Log In </button>
			</form>
			<p class="mt-2 lead text-center">New to Rent-it? <a href="/register">Join now</a></p>
		</div>	
	</div> 
	
</div>

<%- include("../partials/footer.ejs") %>
